<%- include('header'); -%>
<body>
    <header class="heading heading--main">
        <span class="heading__category">Vefforritun</span>
        <h1 class="heading__title">Fyrirlestrar</h1>
    </header>
        <main>
        </main>
<%- include('footer'); -%>